@use '@angular/material' as mat;
@use '../variables' as *;

$dark-theme: mat.define-theme((color: (theme-type: dark,
  primary: mat.$magenta-palette,
  tertiary: mat.$violet-palette,
)));

@mixin theme-change() {
  mat-toolbar {
    --mat-toolbar-container-background-color: #{mat.get-theme-color($dark-theme, primary, 30)};
    --mat-toolbar-container-text-color: #{mat.get-theme-color($dark-theme, primary, 80)};
    height: $toolbar-height;
  }
  html, body {
    background: #{mat.get-theme-color($dark-theme, neutral, 6)};
  }

  .sidenav-container {
    --mat-sidenav-container-background-color: #{mat.get-theme-color($dark-theme, neutral, 12)};
  }
}


